/* reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main */
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #666;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }